<%= render 'navbar' %>

<h1>SHOWING ARTICLES DETAILS</h1>

<p><strong>Title:</strong> <%= @article.title %> </p>
<p><strong>Description: </strong> <%= @article.description %></p>
<br>
<p>
  <%= link_to 'Edit', edit_article_path(@article) %> | <%= button_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?"} %>
</p>

<%= link_to 'Return to Articles', articles_path %>
